@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');



body{
  font-family: 'DM Sans', sans-serif;
}
img{
  border-radius: 14px;
  padding: 5px;
  width: 250px;
}

.cardHeading{
  font-size: 28px;
  font-weight: 800;
}
.cardCompany{
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

.banner{
  border-radius: 14px;
  width: 600px;
}


.active{
  color: #3575E2;
  font-weight: 500;
}
input[type=submit]:hover {
  background-color: #252525;
}

.jobPostForm{
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
}



a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

li {
  list-style: none;
}

.btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #323232;
  cursor: pointer;
}

/* jobs page */

.card {
  margin: 20px;
  border: 1px solid #ededed;
  padding: 20px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  
}
.cardd {
  margin: 20px;
  height: 150px;
  border: 1px solid #ededed;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom: 1rem;
  padding-right: 20px;
  padding-left: 20px;

}
.carddd {
  margin: 20px;
  border: 1px solid #ededed;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card-title {
  margin-bottom: 1rem;
}

.card-reviews {
  margin-bottom: 1rem;
  display: flex;
}

.rating-star {
  color: #d5ab55;
}

.total-reviews {
  font-size: 0.9rem;
  margin-left: 10px;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bag-icon {
  color: #535353;
}

.sidebar-title {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}

.sidebar-items {
  margin-top: 20px;
}

.sidebar-label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.all {
  background: linear-gradient(blue, crimson);
}

.sidebar-label-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.sidebar-label-container input:checked ~ .checkmark {
  background-color: #000000;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.sidebar-label-container input:checked ~ .checkmark:after {
  display: block;
}

.sidebar-label-container .checkmark:after {
  top: 6.4px;
  left: 6.4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}

.line {
  margin-top: 3rem;
  border-color: #f7f7f7;
}


/* create a job page */

.create-job-flex{
  @apply flex flex-col lg:flex-row items-center justify-between gap-8;
  
}

.create-job-input{
  @apply block w-full flex-1 bg-white py-1.5 pl-3 text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm sm:leading-6
}



.Heading{
  font-size: 100px;
  text-align: left;
  font-weight: 800;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.jobSearchHeading{
  font-size: 80px;
  text-align: center;
  font-weight: 800;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.JobHeading{
  font-size: 70px;
  text-align: center;
  font-weight: 800;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.bg-color{
  background-image: url("backgroundImage.jpg");
  border-radius: 4px;

}

.bg-image{
  background-image: url("JobDetails.jpg");
  border-radius: 0px;
  background-size: cover;
}

.form-color{
  background-color: rgb(217, 222, 224);
}

























/* Styles related to footer */



button+button{
  margin-left: 2rem; 
}
main{
  width: 60%;
  margin: 2em auto; 
  line-height: 1.8;
  outline: 1px solid #c2c2c2;
  padding: 2em; 
}
footer p{
  padding:0;
  font-size: 0.8em;
  color: hsla(0, 50%, 100%, 0.35);
  margin: 1em 0;
  font-size: 1rem;
}
footer ul{
  list-style: none;
  display: flex;
  margin: 1em 0; 
}
footer ul li a{
  padding: 1em; 
  text-decoration: none;
  color: rgba(255, 255, 255, 0.904);
  transition: 100ms;
}
footer ul li a:hover{
  color: var(--primary);
}

footer{
  width: 100%;
  background: #3575E2;
  color: #fff; 
  display: grid;
  place-items: center;
  padding: 2em; 
  font-size: 1.2rem;
}



/* Sticky Footer Styling */
body{
  min-height: 100vh;
}
.sticky-footer{
  position: sticky;
  top: 100%;
}






.search_box {
  padding-top : 30px;
}

.search {
  padding-left: 25px;
  display: flex;
  align-items: center;
  margin : auto;
  width : 612px;
  height: 54px;
  background-color : white;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 38px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 10px 38px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 10px 38px 0px rgba(0,0,0,0.1);
}

.select_area {
  color : #3575E2;
  display : flex;
  align-items: center;
  font-family: 'Roboto', sans-serif; line-height:24px;
  font-weight : medium ;
}

.text {
  padding-left:15px;
}



.search_text {
  width: 100%;
  border: none;
  margin-left : 15px;
  font-size : 16px;
  font-family: 'Roboto', sans-serif; line-height:24px;
  font-weight : Regular ;

}

.search{
 width: 800px;
}


.text_and-icon {
  width: 410px;
  display: flex;
  align-items: center;
}
.search_icon {
  color : #5E6573;
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out; 
    -moz-transition: all .6s ease-in-out; 
    -o-transition: all .6s ease-in-out; 
}

.search_text:focus {
  outline: none !important;
}

.search_text:focus + .search_icon{
  color : #3575E2;
  transform: translate(55px,0);
    -webkit-transform: translate(55px,0); 
    -o-transform: translate(55px,0); 
    -moz-transform: translate(55px);
}


button {
  border-radius: 5px;
  color: #000000;
} 


.jobPost-submit {
  padding: 10px 20px;
  width: 250px;
  background-color: #3575E2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.home-submit {
  padding: 20px 20px;
  width: 350px;
  background-color: #3575E2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.postJob {


  width: 280px;
  height: 50px;
  background-color: #3575E2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.login-button-home {
  padding: 10px 40px;
  width: 350px;
  background-color: #3575E2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}



.jobPost-submit {
  padding: 10px 20px;
  width: 250px;
  background-color: #3575E2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.home-submit {
  padding: 20px 20px;
  width: 350px;
  background-color: #3575E2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}


.login-button-home {
  padding: 10px 40px;
  width: 350px;
  background-color: #3575E2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.applyjobHeading{
  font-size: 50px;
  text-align: center;
  color: #3575E2;
  margin-bottom: 20px;
}
.applyjob_name_label{
  font-size: 30px;
  color: #424242;
}
.applyjob_email_label{
  font-size: 30px;
  color: #424242;
}
.applyjob_cv_label{
  font-size: 30px;
  color: #424242;
}

.applyjob{
  width: 550px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  border-radius: 8px;
}




.applyjob_name {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.applyjob_email {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.applyjob_cv {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.applyjob_submit{
  width: 100%;
  background-color: #3575E2;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.cardDescription {
  margin: 20px;
  border: 1px solid #ededed;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
  width: 650px;
  height: 400px;
  background-color: #f2f2f2;
}

.descriptionImage{
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.splitScreen {
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

}
.topPane {
  grid-column: 1;
  grid-row: 1;
  padding-left: 20px;

}

.bottomPane {
  grid-column: 2;
  grid-row: 1;
  padding-right: 20px;

}

.jobListCompanyImage{
  width: 250px;
  height: 250px;
  border-radius: 15px;
}

















/*thisura */


.loginform{
  padding-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 500px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


.or{
  text-align: center;
}

.title{
  text-align: center;
  font-weight: 800;
  font-size: 100px;
  color: #3575E2;
}


.abc{
  font-size: larger;
  font-weight: 800;

}




.email{
  font-weight: 700;
  text-align: center;
  font-size: larger;
  }
  .password{
    font-weight: 700;
    text-align: center;
    font-size: larger;
  }

  .inputPassword{
    font-weight: 700;
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .inputEmail{
    font-weight: 700;
    text-align: center;
    font-weight: 700;
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .loginButton{
    width: 100%;
    background-color: #3575E2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .signupButton{
    width: 100%;
    background-color: #3575E2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
 }

 .username{

    font-weight: 700;
    text-align: center;
    font-size: larger;
  
 }

 
 .inputusername{
  font-weight: 700;
  text-align: center;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
  .account-bottom{
    text-align: center;
  }

  .signupform{
    padding-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 500px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .Erormessage{
    color: red;
  }
          .account{
            color: #2196f3;

          }
  
.nav-profile{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: indigo;
  cursor: pointer;
}


.page-item{
  width: 46px;
  height: 46px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,.06);
  background: #fff;
  color: #101115;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
}

.github{

  color: #3575E2;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
